<%%= form_for(@<%= singular_name %><%= ", :url => @confirm_path " if options[:confirm] %>) do |f| %>
  <%% if @<%= singular_name %>.errors.any? -%>
    <div id="error_explanation">
      <h3><%%=t 'activerecord.errors.template.header',
        :model => <%= class_name %>.model_name.human, :count => @<%= singular_name %>.errors.count %></h3>
      <ul>
      <%% @<%= singular_name %>.errors.full_messages.each do |msg| -%>
        <li><%%= msg %></li>
      <%% end -%>
      </ul>
    </div>
  <%% end -%>

<% for attribute in attributes -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </div>
<% end -%>
  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end -%>
