<%%= form_for(<%= specified.resource %><%= ", :url => @confirm_path " if options[:confirm] %>) do |f| %>
  <%% if @<%= specified.singular_table_name %>.errors.any? -%>
    <div id="error_explanation">
      <h3><%%=t 'activerecord.errors.template.header',
        :model => <%= specified.class_name %>.model_name.human, :count => @<%= specified.singular_table_name %>.errors.count %></h3>
      <ul>
      <%% @<%= specified.singular_table_name %>.errors.full_messages.each do |msg| -%>
        <li><%%= msg %></li>
      <%% end -%>
      </ul>
    </div>
  <%% end -%>

  <fieldset>
    <ul>
  <%- for attribute in attributes -%>
      <li class="field">
        <%%= f.label :<%= attribute.name %> %>
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
      </li>
  <%- end -%>
    </ul>
    <p><%%= f.submit %></p>
  </fieldset>
<%% end -%>
